<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
	<center>
		<input id='title_input' type="text" placeholder="title" />
		</br>
		<textarea rows='10' id='text'></textarea>
		</br>
		<button id="save" onclick="return save();" >Save Changes</button>
	</center>
</body>
<script src="../node_modules/axios/dist/axios.min.js"></script>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../scripts/edit.js"></script>

</html>