<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="../styles/styles.css">

</head>
<body>
	<center>
	<div> Enter your name to win a free $50 Amazon gift card that's under my bed! </div>
</br>
	<input type="text" id='name' placeholder="name"/>
</br>
</br>
	<button onclick="return post();" >Submit</button>
	</center>
</body>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/axios/dist/axios.min.js"></script>
<script src="../scripts/giveaway.js"></script>
</html>