<!DOCTYPE Html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name='description' content="Ian Channer Dot Com">
		<title>Ian Channer</title>
		<link rel="stylesheet" href="../styles/styles.css">
	</head>
	<body>
		<center>
			<h1> Ian Channer Dot Com </h1>
			<i> DISCLAIMER: Any actual names or likenesses of people are used in a fictitious and parodic manner</i>
			<div class="blog" id="blog"/>
		</center>
		<center>
			</br>
			<button id='load' onclick="return loadPreviews(false);">Load More</button>
		</center>
	</body>
	<script src="../node_modules/jquery/dist/jquery.min.js"></script>
	<script src="../node_modules/axios/dist/axios.min.js"></script>
	<script src="../scripts/index.js"></script>
</html>


