<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Ian Channer</title>
		<link rel="stylesheet" href="../styles/styles.css">
	</head>
	<body>
		<center>
			<p> Are you a genius? If so, enter the credentials below (email ichanner8@gmail.com for access)</p>
			</br>	
			<input id='username' placeholder="Username (Only for writers)" type="text"/>
			</br>
			<input id='password' placeholder="Password" type="text"/>
			</br>
			</br>
			<button onclick="return login();">Login</button>
		</center>
	</body>
	<script src="../node_modules/jquery/dist/jquery.min.js"></script>
	<script src="../node_modules/axios/dist/axios.min.js"></script>
	<script src="../scripts/login.js"></script>
</html>