<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:description">
	<meta property="og:title">
	<title>Ian Channer</title>
	<link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
	<button id='back' onclick="location.href='/'">Back</button>
	<center>
		<div class="bg" id="bg">
			<h2 id="title"> </h2>
			<i id="date"></i>
			<div id='reads'></div>
			<p style="text-align: left:" id='container'></p>
			<b> 12 Comments </b>
			</br>
			<div id='comments' >

			</br>

				<div id='comment'> 

					<b id='name'> Ian </b> 
					<div style="padding-bottom: 100;"> hello hellohellohello hellohello </div> 

				</div>

				<div id='comment'> 

					<b id='name'> Ian </b> 
					<div > hello hellohellohello hellohello </div> 

				</div>
			
			<div>



		</div>
	</center>
</body>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/axios/dist/axios.min.js"></script>
<script src="../scripts/page.js"></script>
</html>

